/* -------------- GENERAL ---------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root { /* color: var(--blue); */
    /* Fonts */
        --font1: 'Roboto', sans-serif;
    /* Colors */
        --black: #000000;
        --white: #ffffff;
        --blue: #3C30FF;
        --darkgrey: #0b0c17;
        --grey: #dddddd;
        --red: #ff3571;
}

*{
    padding: 0; margin: 0; box-sizing: border-box;
}

html{
    font-family: var(--font1); font-size: 16px;
}

h2{
    font-size: 6rem;
    margin-bottom: 1rem;
}

h3{
    font-size: 5rem;
}

h4{
    font-size: 1.5rem;
}

h5{
    font-size: 5rem;
    color: var(--grey);
    margin-bottom: 4rem;
}

/* -------------- LOGO ---------------- */

#logo{
    position: fixed;
    top: 50px; left: 50px;
    height: 50px; width: 50px;
}

/* -------------- HEADER ---------------- */

#header{
    padding: 50px 120px;
    position: relative;
    height: 1150px;
}

#header > div:nth-of-type(1){
    position: absolute;
    z-index: 2;
}

#header > div:nth-of-type(1) div{
    padding: 20rem 6rem 0 2rem;
    width: 60%;
}

#header > div:nth-of-type(1) div p:nth-of-type(1){
    font-size: 2rem;
    font-weight: 300;
}

#header > div:nth-of-type(1) div img{
    width: 40px;
}

#header > div:nth-of-type(1) div p:nth-of-type(2){
    color: var(--red);
    font-weight: 600;
    font-size: 1.2rem;
    padding: 10rem 0 0;
}

#header div:nth-of-type(2){
    position: absolute;
    right: 0; top: 0;
    width: 100%;
}

#header div:nth-of-type(2) img:nth-of-type(2), #header div:nth-of-type(2) img:nth-of-type(1){
    position: absolute;
    right: 0; top: 0;
    width: 60%;
    max-height: 1050px; max-width: 1300px;
}

#header div:nth-of-type(2) img:nth-of-type(2){
    animation: headerAni 2s infinite ease-in-out;
}

@keyframes headerAni {
    0%,100%{}
    50%{
        transform:translateY(50px);
    }
}

/* -------------- SECTION ---------------- */

#section{
    width: 100%;
}
#section img{
    width: 100%;
    padding-bottom: 15rem;
}


/* -------------- MAIN ---------------- */

#main{
    padding: 0px 200px;
}

/* SECTION 1 */
    #main section{
        width: 100%;
    }

    #main section:nth-of-type(1) > div:nth-of-type(1){
        width: 100%;
        display: flex;
    }

    #main section:nth-of-type(1) > div:nth-of-type(1) p{
        width: 65%;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 2.8rem;
        margin: 5rem 10rem;
    }

    #main section:nth-of-type(1) > div:nth-of-type(1) h3{
        width: 35%;
    }

    #main section:nth-of-type(1) > div:nth-of-type(2){
        width: 100%;
        margin: 5rem 0;
    }

    #main section:nth-of-type(1) > div:nth-of-type(2) h3{
        width: 55%;
        margin: 5rem 0;
    }

    #main section:nth-of-type(1) > div:nth-of-type(2) div{
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
    }

    #main section:nth-of-type(1) > div:nth-of-type(2) div article{
        width: 45%;
        margin: 5rem 0;
    }

    #main section:nth-of-type(1) > div:nth-of-type(2) div img{
        width: 50px;
        display: inline-block;
        vertical-align:top;
    }

    #main section:nth-of-type(1) > div:nth-of-type(2) div article div{
       width: 80%;
       display: inline-block;
    }

    #main section:nth-of-type(1) > div:nth-of-type(2) div article h4{
      padding: 20px;
    }

    #main section:nth-of-type(1) > div:nth-of-type(2) div article p{
        padding-left: 20px;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 2.8rem;
      }


/* SECTION 2 */
    #main section:nth-of-type(2) > div:nth-of-type(1){
        text-align: center;
        margin-bottom: 10rem;
    }

    #main section:nth-of-type(2) > div:nth-of-type(1) p {
        margin: 5rem auto;
        font-size: 2rem;
        font-weight: 300;
        line-height: 2.8rem;
        width: 60%;
    }

    #main section:nth-of-type(2) div:nth-of-type(2) article{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 10rem 0;
    }

    #main section:nth-of-type(2) div:nth-of-type(2) article:nth-of-type(odd) div:nth-of-type(1){
        width: 40%;
    }
    #main section:nth-of-type(2) div:nth-of-type(2) article:nth-of-type(odd) div:nth-of-type(2){
        width: 60%;
    }

    #main section:nth-of-type(2) div:nth-of-type(2) article:nth-of-type(odd) div:nth-of-type(1) img{
        width: 100%;
    }

    #main section:nth-of-type(2) div:nth-of-type(2) article:nth-of-type(odd) div:nth-of-type(2){
        padding-left: 10%;
    }

    #main section:nth-of-type(2) div:nth-of-type(2) article:nth-of-type(even) div:nth-of-type(2){
        width: 40%;
    }
    #main section:nth-of-type(2) div:nth-of-type(2) article:nth-of-type(even) div:nth-of-type(1){
        width: 60%;
    }

    #main section:nth-of-type(2) div:nth-of-type(2) article:nth-of-type(even) div:nth-of-type(2) img{
        width: 100%;
    }

    #main section:nth-of-type(2) div:nth-of-type(2) article:nth-of-type(even) div:nth-of-type(1){
        padding-right: 10%;
    }
    

    #main section:nth-of-type(2) div:nth-of-type(2) article p{
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 2.8rem;
    }

    #main section:nth-of-type(2) div:nth-of-type(2) article h4{
        padding: 1.5rem 0;
    }

/* -------------- FOOTER ---------------- */

#footer div:nth-of-type(1){
    text-align: center;
}

#footer div:nth-of-type(1) p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.8rem;
    margin: 4rem;
}

#footer div:nth-of-type(1) input[type="email"]{
    color: var(--grey);
    font-size: 2rem;
    width: 50%;
    line-height: 6rem;
    border: 1px solid rgb(243, 241, 241);
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 0px 150px 0px var(--grey);
}

#footer div:nth-of-type(1) input[type="submit"]{
    background-color: var(--red);
    border: none;
    width: 25%;
    line-height: 4.5rem;
    border-radius: 5px;
    font-size: 1.8rem;
    margin: 3rem 0 10rem;
    color: var(--white);
    cursor: pointer;
}

#footer div:nth-of-type(1) input[type="submit"]:hover{
background: rgb(236,3,3);
background: linear-gradient(90deg, var(--red) 0%, var(--blue) 100%);
}

#footer div:nth-of-type(2){
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.8rem;
    margin: 0 0 30px 200px;
}

/* -------------- MEDIAQUERYS BREAKPOINTS ---------------- */

/* BREAKPOINT FOR 1400PX AND 1200PX AND 992PX AND 768PX */
    @media (max-width:1400px){ 
    #logo{
            width: 25px;
            left: 10px;top: 10px;
        }
        h1{
        font-size: 1.5rem;
        }
        #header > div > p {
            font-size: 0.8rem;
        }
        #header{
            padding: 0.6rem 2.5rem 0;
            height: 800px;
        }
    h2{
        font-size: 2rem;
    }
    #header > div:nth-of-type(1) div{
        width: 100%;
        padding: 25rem 2.5rem 0 0;
    }

    #section img{
            padding-bottom: 3rem;
        }

    #main section:nth-of-type(1) > div:nth-of-type(1) p{
        width: 100%;

        font-size: 1.5rem;
        font-weight: 300;
        line-height: 2.8rem;
        margin: 2rem 0;
        }

        #main section:nth-of-type(1) > div:nth-of-type(1) h3{
            width: 100%;
        }

        #main section:nth-of-type(1) > div:nth-of-type(1) img{
            width:50px;
        }
    #main{
        padding: 2.5rem;
    }

    #main section:nth-of-type(1) > div:nth-of-type(1){
        flex-wrap: wrap;
        }
    
        h3 {
            font-size: 2rem;
        }

        #main section:nth-of-type(1) > div:nth-of-type(2) h3{
            width: 100%;
            margin: 4rem 0 0;
        }

        #main section:nth-of-type(1) > div:nth-of-type(2) div article{
            width: 100%;
        }

        
        #main section:nth-of-type(2) > div:nth-of-type(1) p {
            margin: 2rem 0;
            width: 100%;
        }

        #main section:nth-of-type(2) div:nth-of-type(2) article:nth-of-type(odd){
            flex-direction: column-reverse;
        }

        #main section:nth-of-type(2) div:nth-of-type(2) article:nth-of-type(odd) div:nth-of-type(1){
            width: 100%;
        }
        #main section:nth-of-type(2) div:nth-of-type(2) article:nth-of-type(odd) div:nth-of-type(2){
            width: 100%;
        }

        #main section:nth-of-type(2) div:nth-of-type(2) article:nth-of-type(odd) div:nth-of-type(2){
            padding-left: 0%;
        }

        #main section:nth-of-type(2) div:nth-of-type(2) article:nth-of-type(even) div:nth-of-type(1){
            width: 100%;
        }
        #main section:nth-of-type(2) div:nth-of-type(2) article:nth-of-type(even) div:nth-of-type(2){
            width: 100%;
        }

        #footer div:nth-of-type(1) p{
            margin: 4rem 2.5rem;
        }

        #footer div:nth-of-type(1) input[type="email"]{
            width: 80%;
        }
        
        #footer div:nth-of-type(1) input[type="submit"]{
            width: 50%;
            margin: 3rem 0 3rem;
        }
        
        #footer div:nth-of-type(2){
            margin: 0 2.5rem;
            font-size: 1rem;
        }
        #footer div:nth-of-type(2) img{
            width: 20px;
        } 
    }


/* BREAKPOINT FOR 576PX */
    @media (max-width:576px){
        #logo{
            width: 25px;
            left: 10px;top: 10px;
        }
    h1{
        font-size: 1rem;
        }
        #header > div > p {
            font-size: 0.7rem;
        }
        #header{
            padding: 0.6rem 2.5rem;
            height: 800px;
        }
    h2{
        font-size: 2rem;
    }
    #header > div:nth-of-type(1) div{
        width: 100%;
        padding: 15rem 0;
    }

    #section img{
            padding-bottom: 3rem;
        }

    #main section:nth-of-type(1) > div:nth-of-type(1) p{
        width: 100%;

        font-size: 1.5rem;
        font-weight: 300;
        line-height: 2.8rem;
        margin: 2rem 0;
        }

        #main section:nth-of-type(1) > div:nth-of-type(1) h3{
            width: 100%;
        }

        #main section:nth-of-type(1) > div:nth-of-type(1) img{
            width:50px;
        }
    #main{
        padding: 2.5rem;
    }

    #main section:nth-of-type(1) > div:nth-of-type(1){
        flex-wrap: wrap;
        }
    
        h3 {
            font-size: 2rem;
        }

        #main section:nth-of-type(1) > div:nth-of-type(2) h3{
            width: 100%;
            margin: 4rem 0 0;
        }

        #main section:nth-of-type(1) > div:nth-of-type(2) div article{
            width: 100%;
        }

        #main section:nth-of-type(2) > div:nth-of-type(1) p {
            margin: 2rem 0;
            width: 100%;
        }

        #main section:nth-of-type(2) div:nth-of-type(2) article:nth-of-type(odd) div:nth-of-type(1){
            width: 100%;
        }
        #main section:nth-of-type(2) div:nth-of-type(2) article:nth-of-type(odd) div:nth-of-type(2){
            width: 100%;
        }

        #main section:nth-of-type(2) div:nth-of-type(2) article:nth-of-type(odd) div:nth-of-type(2){
            padding-left: 0%;
        }

        #main section:nth-of-type(2) div:nth-of-type(2) article:nth-of-type(even) div:nth-of-type(1){
            width: 100%;
        }
        #main section:nth-of-type(2) div:nth-of-type(2) article:nth-of-type(even) div:nth-of-type(2){
            width: 100%;
        }

        #footer div:nth-of-type(1) p{
            margin: 4rem 2.5rem;
        }

        #footer div:nth-of-type(1) input[type="email"]{
            width: 80%;
        }
        
        #footer div:nth-of-type(1) input[type="submit"]{
            width: 50%;
            margin: 3rem 0 3rem;
        }
        
        #footer div:nth-of-type(2){
            margin: 0 2.5rem;
            font-size: 1rem;
        }
        #footer div:nth-of-type(2) img{
            width: 20px;
        }
    }